# Framework protected files
# These files are fully maintained and managed by the framework and should not be modified
# in repositories using the template

protected_files:
  - {{project_name}}/
  - .github/workflows/framework-validation.yml
  - manage.py
  - sonar-project.properties
  - LICENSE
  - .pre-commit-config.yaml
